<% provide(:title, 'Date')%>
<h1>The wedding date</h1>
<div class="col-md-6 col-md-offset-3">
<div class="well" style="padding-bottom: 35px;">
<h2>October 11 2014</h2>
<p align="center">Please arrive on or before 4:30 PM</p>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
