<% provide(:title, 'Home')%>
<h1>Welcome to the wedding site!</h1>
<p align="center">Soon to contain all relevent information about Mike and Maria's wedding!</p>
<script language="javascript" type="text/javascript">

      $(function(){
        $(".digits").countdown({
        });
      });
</script>

<div align="center">   

    <div class="wrapper">
      <div class="cell">
        <div id="holder">
        		 <table cellpadding="0">
    	<tr>
    		<td style="padding-left: 150px;">
    			<h2> Days </h2>
    		</td>
    		<td style="padding-left: 100px;">
    			<h2> Hours </h2>
    		</td>
    		<td style="padding-left: 65px;">
    			<h2> Minutes </h2>
    		</td>
    		<td style="padding-left: 50px;">
    			<h2> Seconds</h2>
    		</td>
    	</tr>
    	</table>
          <div class="digits"></div>
        </div>
      </div>
    </div>
</div>

