<% provide(:title, 'Home')%>
<h1>About the wedding</h1>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="list-group" align="center">
	<h3><%= link_to "Date", date_path, class: "list-group-item" %></h3>
	<h3><%= link_to "Menu", menu_path, class: "list-group-item" %></h3>
	<h3><%= link_to "Venue", venue_path, class: "list-group-item" %></h3>
</div>
</div>
<script language="javascript" type="text/javascript">

      $(function(){
        $(".digits").countdown({
        });
      });
</script>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div align="center" class="panel panel-default">
<div class="panel panel-heading">
<h3>Time remaining before the big day</h3>
</div>
<div class="panel panel-body">
    <div class="wrapper">
      <div class="cell">
        <div id="holder">
        		 <table cellpadding="0">
    	<tr>
    		<td style="padding-left: 150px;">
    			<h2> Days </h2>
    		</td>
    		<td style="padding-left: 100px;">
    			<h2> Hours </h2>
    		</td>
    		<td style="padding-left: 65px;">
    			<h2> Minutes </h2>
    		</td>
    		<td style="padding-left: 50px;">
    			<h2> Seconds</h2>
    		</td>
    	</tr>
    	</table>
          <div class="digits"></div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
