<% provide(:title, 'Home')%>
<h1>About the wedding</h1>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<div id="Carousel" class="carousel slide col-md-12" style="padding:0;">
        <ol class="carousel-indicators">
            <li data-target="Carousel" data-slide-to="0" class="active"></li>
            <li data-target="Carousel" data-slide-to="1"></li>
            <li data-target="Carousel" data-slide-to="2"></li>
        </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://mrickert.com/wp-content/uploads/2013/10/blackswirlbottom11.png" alt="spongebob">
      <div class="carousel-caption">
        Something about the wedding
      </div>
    </div>
    <div class="item">
    <img src="http://mrickert.com/wp-content/uploads/2013/10/blackswirltopleft.png" alt="spongebob2">
          <div class="carousel-caption">
        Something about the wedding 2
      </div>
    </div>
    <div class="item">
    <img src="http://mrickert.com/wp-content/uploads/2013/10/spongemagic.jpg" alt="spongebob3">
          <div class="carousel-caption">
        Something about the wedding 3
      </div>
    </div>
  </div>

  <!-- Controls -->
        <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div>
<script type="text/javascript" language="javascript"> $('.carousel').carousel({
  interval: 3000
})
</script>
<script language="javascript" type="text/javascript">

      $(function(){
        $(".digits").countdown({
        });
      });
</script>
<div class="row">
<div class="col-md-8 col-md-offset-2" style="padding-top:20px;">
<div align="center" class="well">
<h2 style="padding-bottom:20px;">Time remaining before the big day</h2>
    <div class="wrapper" style="border-top:solid;">
      <div class="cell">
        <div id="holder">
        		 <table cellpadding="0">
    	<tr>
    		<td style="padding-left: 90px;">
    			<h2> Days </h2>
    		</td>
    		<td style="padding-left: 100px;">
    			<h2> Hours </h2>
    		</td>
    		<td style="padding-left: 65px;">
    			<h2> Minutes </h2>
    		</td>
    		<td style="padding-left: 50px;">
    			<h2> Seconds</h2>
    		</td>
    	</tr>
    	</table>
          <div class="digits"></div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
