<% provide(:title, 'Home')%>
<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li><a href="#top">Home</a></li>
    <li><a href="#date">Date</a></li>
    <li><a href="#attire">Attire</a></li>
    <li><a href="#photos">Photos</a></li>
    <li><a href="#venue">Venue</a></li>
  </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header" align="center">
  <div class="vert-text">
    <h1 style="color: #FFF;text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.62);">Mike and Maria's wedding</h1>
    <h3 style="margin-left: 22%">
    <div class="wrapper" align="center">
      <div class="cell" align="center">
        <div id="holder" align="center">
        		 <table cellpadding="0" align="center">
    	         <tr>
    		        <td style="padding-left: 70px;">
    			        <h2> Days </h2>
    		        </td>
    		        <td style="padding-left: 85px;">
    			        <h2> Hours </h2>
    		        </td>
    		        <td style="padding-left: 55px;">
    			        <h2> Minutes </h2>
    		        </td>
    		        <td style="padding-left: 25px;">
    			        <h2> Seconds</h2>
    		        </td>
    	        </tr>
    	      </table>
          <div class="digits"></div>
        </div>
      </div>
    </div>
    </h3>
    <a href="#date" class="btn btn-default btn-lg">Find Out More</a>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- date -->
<div id="date" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>The marrage of Michael Rickert and Maria Swift</h2>
        <p class="lead">At the Nassau Inn in Princeton on October 11th, 2014 at 4:30pm</p>
      </div>
    </div>
  </div>
</div>
<!-- /date -->

<!-- Attire -->
<div id="attire" class="services">
  <h1 align="center">Attire</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>For men</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-tux"></i>
          <h4>Tuxedo</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-mshoes"></i>
          <h4>Shoes</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-bowtie"></i>
          <h4>Bowtie</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-mextras"></i>
            <h4>Other proper attire</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>For women</h2>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-rocket"></i>
          <h4>Formal full-length ball gown</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-magnet"></i>
          <h4>Glamorous make-up</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-shield"></i>
          <h4>Dramatic jewelry</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-pencil"></i>
            <h4>Other proper accessories</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /attire -->


<!-- Photos -->
<div id="photos" class="callout">
        <div class="vert-text">
        <h1>Wedding Photos</h1>
          <br>
        <a href="#" class="btn btn-lg btn-primary">Found here</a>
  </div>
</div>
<!-- /photos -->



<!-- venue -->
<div id="venue" class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Wedding location</h2>
          <p class="lead">The wedding ceremony and reception will take place at the Nassau Inn in Princeton, NJ</p>
      </div>
    </div>
  </div>
</div>
    <!-- Map -->
    <div class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed">
        <br />
        <small>
            <a href="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed"></a>
        </small>
        </iframe>
    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; CCNP-Pro 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

<!-- script for countdown timer -->
<script language="javascript" type="text/javascript">

      $(function(){
        $(".digits").countdown({
        });
      });
</script>