<% provide(:title, 'Home')%>

<!-- fancy transition pages -->
<!-- Header with Navigation -->
<div class="row" id="header">
    <div class="col-12">            
        <div class="navbar" id="navigation">
          <ul class="nav navbar-nav">
        <li><a id="link-home" href="#home">Home</a></li>
        <li><a id="link-venue" href="#venue">Venue</a></li>
        <li><a id="link-map" href="#map">Map</a></li>
        <li><a id="link-mens-attire" href="#mens-attire">Mens attire</a></li>
        <li><a id="link-womens-attire" href="#womens-attire">Womens attire</a></li>
        <li><a id="link-photos" href="#photos">Photos</a></li>
          </ul>
      </div>
    </div>
</div>

<!-- Home -->
<div id="home" class="content">
</div>
<!-- /Home -->
 

<!-- venue -->
<div id="venue" class="panel">
  <div class="content venue">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <row>
        <h2 class="col-xs-12" style="margin-top: -30px;">Venue</h2>
          <p class="col-xs-3" style="background-color: transparent;">The wedding ceremony and reception will take place at the Nassau Inn in Princeton, NJ
          <br/><br/><br/>
          10 Palmer Square, Princeton, NJ 08542
            <br/><br/>
(609) 921-7500
          </p>
          <%= image_tag "nassau.jpg", class: "col-xs-8" %>
        </row>
      </div>
    </div>
  </div>
</div>
<!-- /Venue -->
 
    <!-- Map -->
<div id="map" class="panel">
    <div class="map content">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed">
        <br />
        <small>
            <a href="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed"></a>
        </small>
        </iframe>
    </div>
</div>
    <!-- /Map -->


<!-- Attire -->
<div id="mens-attire" class="panel services">
    <div class="content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2>Mens attire</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-tux"></i>
          <h4>Tuxedo</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-mshoes"></i>
          <h4>Shoes</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-bowtie"></i>
          <h4>Bowtie</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-mextras"></i>
            <h4>Other proper attire</h4>
        </div>
      </div>
    </div>
      </div>
  </div>
  
<div id="womens-attire" class="panel services">
    <div class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Womens attire</h2>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-gown"></i>
          <h4>Formal full-length ball gown</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-makeup"></i>
          <h4>Glamorous make-up</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-jewelry"></i>
          <h4>Dramatic jewelry</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon circular-accessories"></i>
            <h4>Other proper accessories</h4>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- /attire -->


<!-- Photos -->
<div id="photos" class="panel">
        <div class="content vert-text">
        <h2>Photos</h2>
          <br>
          <%= link_to "Can be found here", photos_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<!-- /photos -->
<!-- /Attire -->
<!-- /transition pages -->

<!-- Full Page Image Header Area -->
<div id="container" class="intro-effect-sidefixed">
<div id="top" class="header" align="center">
  <div class="vert-text bg-img">
    <div class="toptext banner-text">
  <div style="float: left;margin-left: 15%;">
      <p>Mike
      <br/>&
      <br/>Maria</p>
    </div>
    <div style="float: right;margin-right: 15%;">
      <p>Oct.
      <br/>11
      <br/>2014</p>
    </div>
  </div>
</div>

    <a href="#" class="topbutton trigger text-center" style="" align="center" id="trigger">Join us</a>
</div>

<!-- date -->
      <div class="title">
        <h2>The marriage of Michael Rickert and Maria Swift</h2>
        <p class="lead">Will take place at the Nassau Inn in Princeton
         <br/> on October 11th, 2014 at 4:30pm</p>
      </div>
</div>
<!-- /date -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; CCNP-Pro 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

<!-- HERE BE JAVASCRIPTS -->

    <!-- Custom JavaScript for Smooth Scrolling -->
    <script>
    $(function() {
        $('a[href*=#date]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

<!-- Testing fancy image slide push -->
<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36



				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'a.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var triggerbutton = document.getElementById("trigger");
				triggerbutton.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>
