<% provide(:title, 'Home')%>

<!-- fancy transition pages -->
<!-- Header with Navigation -->
<header id="header">
  <nav id="navigation" class="navbar navbar-default" role="navigation">
    <div id="fluid" class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="navlist" class="nav nav-pills nav-justified" align="center">
        <li id="homelink"><a href="#home">Home</a></li>
        <li id="link-weddingparty"><a href="#weddingparty">Wedding Party</a></li>
        <li id="link-venue"><a href="#venue">Venue</a></li>
        <li id="link-attire"><a href="#attire">Attire</a></li>
        <li id="link-photos"><%= link_to "Photos", photos_path %></li>
      </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Home -->
<div id="home" class="content">
  
</div>
<!-- /Home -->

<!-- wedding party -->
<div id="weddingparty" class="panel">
  <div class="content">
    <div class="row">
      <div class="col-xs-6" style="border-right: 2px solid #999;">
        <div class="media">
          <span class="circularmaria pull-right"></span>
        <div class="media-body">
          <h3 class="media-heading">The Bride</h3>
          With a passion for fine arts and finer food, Maria has spent her twenty six years cultivating her palette and cooking talents. A self-proclaimed "foodie", Maria pushes her culinary skills at every opportunity for friends and family. When not in the kitchen cooking up delicate cuisine Maria finds herself spending as much time as possible with her family, friends, and fiance. Maria loves being around others and always enjoys their company. You'll notice Maria's passions shine through on the wedding day as the venue and menu were carefully planned to reflect her style. 
        </div>
      </div>
      </div>
      <div class="col-xs-6">
        <div class="media">
          <span class="circularmike pull-left"></span>
        <div class="media-body">
          <h3 class="media-heading">The Groom</h3>
          A love of the outdoors, technology, and home improvement best describes Michael. Bouncing between the three seemingly unrelated activities, he still searches for time to spend with his close friends, family, and fiancee. When Mike isn't busy trying to program or hack together some new tech project, he's spending time working on the couples newly owned house, transforming it into their ideal dream home. Lately Michael has found a passion for camping and the outdoors and, if time and his fiancee allow, will spend the weekend biking and camping around New Jersey. 
        </div>
      </div>
      </div>
    </div>
        <div class="row" style="padding-top: 45px;">
      <div class="col-xs-6" style="border-right: 2px solid #999;">
        <div class="media">
          <span class="circularlisa pull-left"></span>
        <div class="media-body">
          <h3 class="media-heading">Maid of Honor</h3>
          Passing by the NYU labs late at night you may catch a glimpse of Lisa hard at work. Don't think for a moment though that she wouldn't gladly invite you to join her as Lisa always makes time for friends and family, putting them in the highest of regards. When not spending time with her husband or researching her way toward graduation, Lisa enjoys fine dining at local restaurants and you'll be sure her best friends will all be there. 
        </div>
      </div>
      </div>
      <div class="col-xs-6">
        <div class="media">
          <span class="circularasa pull-right"></span>
        <div class="media-body">
          <h3 class="media-heading">Best Man</h3>
          Best described as a wilderness astrophysicist, Asa enjoys all things science and exploring nature and its limits. When he's not catching a view of the night sky and its latest stars and planets Asa can be found biking every which way and studying for that next big college physics final. While not the social butterfly, Asa keeps his friends close and is always ready to give a helping hand at the drop of a bike wrench.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- /wedding party -->

<!-- venue -->
<div id="venue" class="panel">
  <div class="content">
    <div class="row">
      <div class="col-xs-6">
              <div class="media" align="center">
          <div class="circularinn"></div>
                <br/>
        <div class="media-body">
          <h3 class="media-heading">Wedding Venue</h3>
          The wedding ceremony and reception will take place at the Nassau Inn in Princeton, NJ
          <br/>
          10 Palmer Square, Princeton, NJ 08542
            <br/>
          (609) 921-7500
            <br/><br/>
          Accommodations at the Nassau Inn are available and we have a room block booked if you would like to join us. Be sure to let the Bride or Groom know ASAP if you plan to do so. 

        </div>
      </div>
      </div>
      <div class="col-xs-6">
            <div class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed">
        <br />
        <small>
            <a href="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed"></a>
        </small>
        </iframe>
    </div>
    </div>
    </div>
  </div>
</div>
<!-- /Venue -->


<!-- Attire -->
<div id="attire" class="panel services">
    <div class="content">
          <div class="row">
      <div class="col-xs-6">
              <div class="media" align="center">
                <div class="pull-left">
          <div class="circular-tux"></div>
          <div class="circular-mshoes"></div>
          <div class="circular-bowtie"></div>
          <div class="circular-mextras"></div>
                </div>
        <div class="media-body" style="border-right: 2px solid #999;">
          <h3 class="media-heading">Men's Attire</h3>
            Men are expected to wear a tuxedo, preferably a white tie tuxedo. The bridal party will be getting their tuxedo's from <a href="http://www.princetontuxedo.com/">Princeton Tuxedo</a> and have a group discount. If you are interested in joining the group please let someone from the wedding party know. Top hats and bowties are also not required wear but preferred! Any questions about mens attire, or if you aren't sure what to wear, please reach out to the bride or her maid of honor and ask. 
        </div>
      </div>
      </div>
      <div class="col-xs-6">
        <div class="media" align="center">
                <div class="pull-right">
          <div class="circular-gown"></div>
          <div class="circular-makeup"></div>
          <div class="circular-jewelry"></div>
          <div class="circular-accessories"></div>
                </div>
        <div class="media-body">
          <h3 class="media-heading">Women's Attire</h3>
          For women the expected attire is a ball or evening gown in the white or black tie style. Black tie style being a non-bright color and a floor length evening gown. White tie style being a neutral color and a ball gown. Women are also encouraged to wear makeup and dramatic jewelry to enhance the white tie affair atmosphere. As always, any questions about womens attire can be directed to the bride or maid of honor. If you're not sure, ask! 
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- /attire -->

<!-- /transition pages -->

<!-- Full Page Image Header Area -->
<div id="top" class="header" align="center">
  <div class="vert-text bg-img">
    <div class="toptext banner-text">
  <div style="float: left;margin-left: 15%;">
      <p>Mike
      <br/>&
      <br/>Maria</p>
    </div>
    <div style="float: right;margin-right: 15%;">
      <p>Oct.
      <br/>11
      <br/>2014</p>
    </div>
  </div>
</div>
</div>


  <!-- responsive site -->
  
  <div class="responsive">
    <div class="responsiveheader vert-text banner-text toptextresponsive">
      <p>Mike
      <br/>&
      <br/>Maria</p>
    </div>
    <div class="responsivedate">
      <h1> The marrage of Michael Rickert and Maria Swift will take place at the Nassau Inn on October 11th, 2014 at 4:30pm.
      </h1>
    </div>
    <div class="responsivevenue">

      <%= image_tag "nassau.jpg", style: "width: 124%;margin-left: -12%;"%>
    </div>
    <div class="responsiveattire">
      
    </div>
  </div>
  
<!-- HERE BE JAVASCRIPTS -->
<script>
  $(function(){
  $("#homelink").click(function(){
     $(this).toggleClass("active");
    $("#link-weddingparty").removeClass("active");
    $("#link-venue").removeClass("active");
    $("#link-attire").removeClass("active");
  });
  $("#link-weddingparty").click(function(){
     $(this).toggleClass("active");
    $("#homelink").removeClass("active");
    $("#link-venue").removeClass("active");
    $("#link-attire").removeClass("active");
  });
  $("#link-venue").click(function(){
     $(this).toggleClass("active");
    $("#link-weddingparty").removeClass("active");
    $("#homelink").removeClass("active");
    $("#link-attire").removeClass("active");
  });
  $("#link-attire").click(function(){
     $(this).toggleClass("active");
    $("#link-weddingparty").removeClass("active");
    $("#link-venue").removeClass("active");
    $("#homelink").removeClass("active");
  });
});
</script>