<% provide(:title, 'Venue')%>
<h1>Nassau Inn</h1>
<div class="row">
<div class="col-md-12">
<div class="well" style="padding-right: 50px;">
	<img style="float: right; padding-top: 25px;" src="http://www.nassauinn.com/d/nassauinn/mod_pukkaMeetings/itemImage_121_thumb.jpg"></img>
<h2 align="center">The ceremony will take place in the Palmer Room</h2>
<p>The Palmer Room is an elegant space for any social event with beautiful buffets or plated meals. It has wide plank hard wood floors and oriental area rugs which create a nostalgic feeling, similar to the original look and feel of Nassau Inn. This room is often times used for rehearsal dinners, showers and other social events accommodating 88 to 100 people.
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-7">
<div class="well" align="left" style="padding-bottom: 290px;">
<h2 style="padding-bottom: 30px;">Attire</h2>
<div style="float: left;" class="well">
<h2>For men</h2>
<ul>
	<li>Tuxedo</li>
	<li>White pique vest and bow tie</li>
	<li>Black formal shoes</li>
</ul>
</div>
<div style="float: right" class="well">
<h2>For women</h2>
<ul>
	<li>Formal full-length ball gown</li>
	<li>Glamorous make-up</li>
	<li>Dramatic jewelry</li>
</ul>
</div>
</div>
</div>
<div class="col-md-5">
<div align="right" class="well">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;q=nassau+inn+princeton&amp;fb=1&amp;gl=us&amp;hq=nassau+inn&amp;cid=0,0,16635396667706573177&amp;ll=40.350396,-74.661281&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</div>
</div>