$grayMediumLight: #eaeaea;
$grayLight: #999;
$gray: #555;
$grayDarker: #222;

@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=League+Script);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

body {
  
  background: url(weddingsiteheader.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default {
  background: transparent;
  border: none;
  z-index: 9999;
}

.navbar-toggle {
  z-index: 9999;
}


// mike & maria text
.banner-text {
 font-family: 'Great Vibes', cursive;
  font-weight: 700; 
  font-weight:normal;
  font-size: 56px;
  padding: 0;
  margin: 0;
  line-height: none;
}

//animation for text
.banner-text {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
}



//join us button
.topbutton {
  font-family: 'Great Vibes', cursive;
  color: #222222;
  font-size: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 75%;
  left: 38%;
  display: inline-block;
}

.topbutton:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  z-index: -1;
}

.topbutton:link, .topbutton:visited {
  display: block;
  text-decoration: none;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #d7d7d7); 
  background-image: -moz-linear-gradient(top, #f5f5f5, #d7d7d7); 
  background-image: -ms-linear-gradient(top, #f5f5f5, #d7d7d7); 
  background-image: -o-linear-gradient(top, #f5f5f5, #d7d7d7); 
  width: 250px;
  height: 144px;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.topbutton:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}


#top {
  margin-top: -20px;
  padding-top: 0px;
  height: 100%;
}

.topbutton:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.topbutton:hover {
  text-decoration: none;
  color: #555;
  background: #ffffff;
}


  
.toptext {
  position:absolute;
  top:200px;
  width: 100%;
}

.venue {
  margin-left: -120px;
  margin-right: -120px;
margin-top: 80px;
}

  .responsive {
    display: none;
  }


/* Responsive */

@media (max-width: 768px) {

  body {
  
  background: url(weddingsiteheader.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin-top: 98%;
}
  
  .panel {
  display: none;
}

.content {
  display: none;
}

#home {
  display: none;
}
#header{
 display: none;
}
  
  .toptext {
  display: none;
}
  
  .toptextresponsive {
    position: absolute;
    top: 50px;
    left: 40%;
}
  
  .navbar-nav {
    display: none;
  }
  
  .responsive {
    display: block;
  }
  
  #top {
    display: none;
  }
  
  .responsiveheader {

  }
  
  .responsivedate {
    background-image: url('xv.png');
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 25%;
    z-index: 5;
  }
  
  .responsivevenue {
    background-image: url('xv.png');
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    
  }
  
  h1 {
    margin: 0;
    padding: 0;
      font-family: 'Great Vibes', cursive;
  color: #222222;
  }

}