$grayMediumLight: #eaeaea;
$grayLight: #999;
$gray: #555;
$grayDarker: #222;

@import "bootstrap";

.carousel .item {
  min-height: 300px;
  max-height: 300px;
}

.carousel .carousel-control {
  background-image: none;
}