/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(weddingsiteheader.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
  margin-top: 80px;
}

/* Services */

.services {
  background: #5599aa;
  padding: 50px 0;
  color: #222;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

.circular-tux {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/tux.jpg) no-repeat;
	}

.circular-mshoes {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/0702610d-0e6d-4523-9d5d-9cec77658b7b.jpg) no-repeat;
	}

.circular-bowtie {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/a82386ca-fe51-44b3-9158-4a157a917c91.jpg) no-repeat;
	}

.circular-mextras {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/c299e0f9-053e-4bce-89f8-13e31abc6e6b.jpg) no-repeat;
	}

.circular-gown {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/0c873c14-99ab-4902-9a45-7150651604e4.jpg) no-repeat;
	}

.circular-makeup {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/725ed44c-d84c-4436-8ad7-25c7408df276.jpg) no-repeat;
	}


.circular-jewelry {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/92fadc58-eac0-445f-b5c1-37b04e58130e.jpg) no-repeat;
	}

.circular-accessories {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/fd56272d-1381-4850-ac7e-ac875bd69e51.jpg) no-repeat;
	}


/* Callout */

.callout {
  color: #222;
  display: table;
  height: 400px;
  width: 100%;
  background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/princetonu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #222;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
  margin-top: 20px;
}

/* Footer */

footer {
  
  margin-top:48%;
}

.top-scroll {
  margin-top: 20px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(weddingsiteheader.jpg) no-repeat center center scroll;
  }
  
  .navbar {
  display: none;
  }

  .callout {
	background: url(http://i283.photobucket.com/albums/kk319/racethesunlive/princetonu.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }

}
