#home {
  position: fixed;
  top:0px;
}
.content{
	right: 5%;
	left: 5%;
	top: 50px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	color: #222;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #222;
	display: inline-block;
	background: black;
	padding: 10px;
	margin: 3px 0px;
}
.panel{
	width: 99%;
	height: 99%;
  top: 0px;
	position: fixed;
  background-color: #222;
  border-radius: 0px;
  background-image: url('xv.png');
	-webkit-box-shadow: 4px 6px 9px 0px rgba(50, 50, 50, 0.81);
-moz-box-shadow:    4px 6px 9px 0px rgba(50, 50, 50, 0.81);
box-shadow:         4px 6px 9px 0px rgba(50, 50, 50, 0.81);
	margin-left: -122%;
	z-index:2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.panel:target{
	margin-left: 0%;
  background-color: #222; 
  background-image: url('xv.png');
}
#home:target ~ #header #navigation #fluid #bs-example-navbar-collapse-1 #navlist #link-home,
#weddingparty:target ~ #header #navigation #fluid #bs-example-navbar-collapse-1 #navlist #link-weddingparty,
#venue:target ~ #header #navigation #fluid #bs-example-navbar-collapse-1 #navlist #link-venue,
#attire:target ~ #header #navigation #fluid #bs-example-navbar-collapse-1 #navlist #link-attire
{
color: #FFF;
background-color: #428BCA;
}
