<div align="center" style="background-image:url('http://mrickert.com/wp-content/uploads/2013/10/blackswirlbottom11.png');background-repeat:no-repeat;padding-top:120px;margin-left:25%;"></div>
<footer class="footer">
<small>
Created by <a href="http://mrickert.com">Michael Rickert</a>
</small>
<nav>
<ul>
<li><%= link_to "Date", date_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>