<footer class="footer">
<small>
Created by <a href="http://mrickert.com">Michael Rickert</a>
</small>
<nav>
<ul>
<li><%= link_to "Date", date_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>